body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fbfbfb;
}
.card
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 400px;
    background: #336666;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
}

.card .box
{
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.card .box .img
{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.card .box .img img
{
    width: 100%;
}

.card .box h2
{
    font-size: 20px;
    color: #262626;
}

.card .box h2 span
{
    font-size: 14px;
   /* background: blue;*/
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}










